<h1>Create a Short URL</h1>

<%= form_with model: @url, local: true do |form| %>
  <div>
    <%= form.label :original_url %><br>
    <%= form.text_field :original_url %>
  </div>

  <div>
    <%= form.submit "Shorten" %>
  </div>
<% end %>

<h2>All Shortened URLs</h2>
<table>
  <tr>
    <th>Original URL</th>
    <th>Short URL</th>
  </tr>
  <% @urls.each do |url| %>
    <tr>
      <td><%= url.original_url %></td>
      <td><%= link_to short_url(url.short_url), short_url(url.short_url) %></td>
    </tr>
  <% end %>
</table>
